body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("background.gif");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;  
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

a {
  text-decoration: none !important;
}
.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer {
  /* border:10px solid red;
  border-radius:10px; */
  margin-left: -200px;
  position:absolute;
  /* position-anchor: 50% 50%; */
}