body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("background.gif");
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center;  
}
body, a:link, a:visited, a:active{
  color: white;
}

a {
  text-decoration: none !important;
}
.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
  font-size: 30px;
  text-shadow: 2px 2px 8px black;
}
.topbar{
  display: flex;
  justify-content: space-between;
  height:32px;
  background-color: rgba(204, 204, 204, 0);
}
.title{
  color: white;
  background-color: rgba(204, 204, 204, 0);
}

.dancer {
  /* border:10px solid red;
  border-radius:10px; */
  margin-left: -200px;
  position:absolute;
  /* position-anchor: 50% 50%; */
}